.list-ind {
  list-style: none;
  margin-top: 8px;
}

.list-hd {
  background-color: #d9d9d9;
  border-radius: 8px;
  padding-left: 10rem;
  display: flex;
  gap: 4rem;
  margin-bottom: 8px;
}

.list-item {
  background-color: #d9d9d9;
  border-radius: 15px;
  padding-left: 10rem;
  display: flex;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.i {
  background-color: #838282;
}

.name {
  margin-right: 0px;
}

.list-field {
  color: #000;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-hd button {
  padding: 8px;
  background-color: transparent;
  border: 0;
}
